;; shadow-cljs configuration
{:deps true
 :builds
 {:app
  {:target :react-native
   :init-fn test.app/init
   :output-dir "react-native/app"
   :compiler-options {:output-feature-set :es5}
   :js-options {:js-package-dirs ["react-native/node_modules"]}}
  :worker
  {:target shadow.worklet
   :output-dir "react-native/worker"
   :output-to "react-native/worker/index.js"
   :js-options {:js-package-dirs ["react-native/node_modules"]}
   :exports {:math worker.app/math}
   :compiler-options {:optimizations :advanced
                      :output-feature-set :es5}}}}
